<template>
  <div id="app">
    <ul>
        <li v-for="item in listdata" :key="item.name" @click="$emit('clickedItem', item)">
            {{ item }}
        </li>
    </ul>
  </div>
</template>

<script>


export default {
  data () {
    return {
      pageTitle: 'Overview'
    }
  },
    props: [
        'listdata'
    ],
    created : {
      addItem () {
            this.$emit('createdTitle', this.pageTitle);
      }
    }
}
</script>